body {
    background: #fff8f7;
    color: #777770;
    font-family: Lato, sans-serif;
    font-variant: normal;
    font-weight: 100;
    font-size: 2em;
}

.btn {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
}

.todo-list {
    max-width: 500px;
}

.sidebar {
    background: #2b003a;
    height: 100vh;
}

.task-item {
    margin: 3px 0 0 0;
    /*max-width: 500px;*/
    height: 50px;

}

.task-delete {
    display: inline-block;
    background: #ffdadc;
    /*background: #ffffbc;*/
    padding: 10px;
    border-right: 1px solid #8e8f90;
}

.task-delete:hover {
    background: #ff988e;
}

.task-content {
    display: inline-block;
    background: #ffffbc;
    padding: 10px;
}

.edited {
    padding: 7px;
}

.completed {
    background: #b5ff90;
}

.task-edit {
    display: inline-block;
    background: #ffffbc;
    padding: 10px;
    border-left: 1px solid #8e8f90;
}

.task-edit:hover {
    background: #ffec5e;
}

.task-save {
    display: inline-block;
    background: #e1ffc7;
    padding: 10px;
    border-left: 1px solid #8e8f90;
}

.task-save:hover {
    background: #b5ff90;
}

.task-cancel {
    display: inline-block;
    background: #ffdadc;
    padding: 10px;
    border-left: 1px solid #8e8f90;
}

.task-cancel:hover {
    background: #ff988e;
}

#add-task-group {
    max-width: 400px;
}

