body {
    color: #4b4c4d;
    font-family: Lato, sans-serif;
    font-variant: normal;
    font-weight: 100;
    font-size: 2em;
}

.btn {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
}

.todo-list {
}

.sidebar {
    background: lightblue;
    height: 100vh;
}

.task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #cff4f1;
    height: 50px;
    margin: 3px 100px 0 0;
    padding: 0 50px;
}

.completed {
    text-decoration: line-through;
}